{% extends 'core/base.html' %}

{% block title %}Items{% endblock %}

{% block content %}
<div class="pb-6 py-4 grid grid-cols-5 gap-3 bg-gray-100 border">
    <div class="col-span-1">
            <div class="style">
        <form action="{% url 'item:items' %}" method="get">
            <input type="text" name="query" class="w-full py-4 px-6 border rounded-xl" value="{{ query }}"
                   placeholder="Find a bike, a chair or a car...">
            <div class="d-grid gap-2">
            <button class="btn btn mt-3 text-white bg-teal-500 hover:bg-teal-700">Search</button>
</div>

        </form>
        <hr class="my-6">

        <p class="font-semibold">Categories</p>

        <ul>
            {% for category in categories %}
            <li class="py-2 px-2 rounded-xl{% if category.id == category_id %} bg-gray-200{% endif %}">
                <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>

        <hr class="my-6">

        <p class="font-semibold">Clear filters </p>

        <ul>
            <li>
                <div class="d-grid">
                <a href="{% url 'item:items' %}"
                   class="mt-2 py-2 px-4 inline-block bg-yellow-500 text-lg-center rounded-xl text-white">Clear</a>
                </div>
            </li>
        </ul>
    </div>
    </div>

    <div class="col-span-4 px-10">
        <div class="row">
            {% for item in items %}
            <div class="col" style="flex: 0 0 0;">
                <a href="{% url 'item:detail' item.id %}">
                    <div class="col">
                        <div class="card" style="width: 18rem; margin-bottom: 5%;">
                            <img src="{{ item.image.url }}" class="card-img-top" alt="..." style="height: 300px;">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.name }}</h5>
                                <p class="card-text">Price: {{ item.price }}</p>
                                <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}
